*{
    margin: auto;
}

body{
    background-color: black;
}

#container{
    display: flex;
    justify-content: center;
    width: 970px;
    background-color: darkgray;
    border-color: darkred;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    padding: 50px;
    margin-top: 15px;
}

button {
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    border-style: none;
    background-color: black;
    color: whitesmoke;
}
h1 {
    color: darkred;
    padding-bottom: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

input {
    border-radius: 10px;
    display: flex;
}
